.ad{
  width: 20px;
  text-align: center;

}
#co{
  text-align: center;
}
body{
  text-align: center;

}
h1{
  text-align: center;
  size: 500px;
  color: "#fff";
}
#ra{
  color: "red";
}
h1{
  color: "powderblue";
}
